.participant{
    display:flex;
    align-items: column;
    list-style: none;
}

.participant-name {
    font-size: 20px;
}

.avatar {
    height: 50px;
    border-radius: 50%;
}

.dot::before{
    content: "•";
    color:green;   
}

.dot-grey::before{
    content: '•';
    color: grey;
}