.stage-display {
    display: flex;
    flex-direction: row;
    background-color: rgb(51, 53, 77);
    width: 60%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.stage-item {
    border: 1px solid rgb(64, 64, 65);
    text-align: center;
    background-color: rgb(73, 73, 75);
}

.stage-participant {
    flex-direction: column;
}
